{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom
{% endblock %}
{% set title = "Tableau de bord" %}

{% block content %}

<div class="js-user"
    data-user="{{ app.session.get('azuracom_api_token') }}">
</div>
<div class="js-client"
	data-client="{{ clientId }}">
</div>
<div class="js-api"
	data-api="{{ azuracom_api_url }}">
</div>

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<!-- Modal -->
{# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> #}

	<section class="row">
		<div class="col-lg-8">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mes projets</h5>
					<div class="table-responsive" id="ProjectsTable">
						{# ajax content #}
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="{{ path('app_project')}}" class="btn btn-primary">Consulter mes projets</a>
					</div>
				</div>
			</div>
			

			
			<div class="card mt-3 ">
				<div class="card-body">
					<h5 class="card-title">Carnet de maintenance</h5>
					<div class="progress mb-2">
						<div class="progress-bar bg-warning" role="progressbar" style="width: {{ maintenanceNotebook.nbRemain | percent(maintenanceNotebook.nbOrder) }}%" aria-valuenow="{{ maintenanceNotebook.nbRemain | percent(maintenanceNotebook.nbOrder) }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div>
						<button class="btn btn-primary m-2" id="btnWS" title="Consulter les sessions">{{ maintenanceNotebook.nbRemain }}
								heures restantes /{{ maintenanceNotebook.nbOrder }}h</button> Validité : {{ maintenanceNotebook.dateEnd | date("d/m/Y") }}
					</div>
						

					<div class="ws-block">
						<h6>Sessions de travail</h6>
						<div class="table-responsive">
							<table class="table table-hover">
								<tr>
									<th>Date</th>
									<th>Projet</th>
									<th>Référent technique</th>
									<th>Type</th>
									<th>Description</th>
									<th>Durée en heures</th>
								</tr>
									{% for workingSession in workingSessions %}
										<tr>
											<td>{{ workingSession.date | date("d/m/Y") }}</td>
											<td>{{ workingSession.project.name }}</td>
											<td>{{ workingSession.user.firstname }}
												{{ workingSession.user.lastname }}</td>
											<td>{{ workingSession.type }}</td>
											<td>{{ workingSession.description }}</td>
											{% if workingSession.timeUnit == "hour" %}
												<td>{{ workingSession.time }}</td>
											{% endif %}
											{% if workingSession.timeUnit == "adr" %}
												<td>{{ workingSession.time | hour }}</td>
											{% endif %}
										</tr>
									{% endfor %}
							</table>
						</div>
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						{# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  							Recharger mon carnet
						</button> #}
						<a href="{{ path('maintenance_notebook_new') }}" class="btn btn-primary mr-1">Recharger mon carnet</a>
						<a href="{{ path('app_maintenance_notebook') }}" class="btn btn-primary">Mes anciens carnets</a>
					</div>
				</div>
			</div>
		</div>
		<aside class="col-lg-4">
			<div class="card mt-3" id="SEO">
				<div class="card-body d-flex flex-column justify-content-between" id="SEO">
					<div>
						<h5 class="card-title">OPERATION SEO</h5>
						<p class="card-text">Ce mois-ci, profitez d'un diagnostic SEO OFFERT.</p>	
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="https://fr.surveymonkey.com/r/C8TF7VB" class="btn btn-primary">Je m'inscris</a>
					</div>
				</div>
			</div>
		</aside>
	</section>

	<section class="row">
		<div class="col-xl-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mon agence</h5>
					<div class="row">
						<div class="map-responsive">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1437.0254033787594!2d4.892526577829132!3d43.916922189228046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x670ee5c8311295de!2sAzuracom%20Agence%20Web%20Avignon!5e0!3m2!1sfr!2sfr!4v1669796890882!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>	
							<p class="card-text">Technopôle Agroparc<br>
							Le Victoria – C01<br>149, Rue Jean Dausset<br>84140 Avignon</p>
							<p>du Lundi au Vendredi
							<br>de 9h à 12h30 et de 14h à 18h</p>
							<p class="fs-6 contact">Votre contact :<br>
							M. Thibaut DUMALIN
							<br>
							Tel : 04 86 40 84 28
							<br>
							Email : referent@technique.com</p>
								<div class="social-network">
									<a class="col" href="https://www.linkedin.com/company/azuracom/">
										<i class="fa-brands fa-linkedin-in"></i>
									</a>   
									<a class="col" href="https://fr-fr.facebook.com/agence.azuracom/">
										<i class="fa-brands fa-facebook-f"></i>
									</a>   
									<a class="col" href="https://www.instagram.com/agenceazuracom/?hl=fr">
										<i class="fa-brands fa-instagram"></i>
									</a>  
								</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-xl-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Actualités</h5>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="col-lg-6"><img class="img-fluid" src="{{ asset("build/images/azuracom-renforce-son-support-client.jpeg") }}" alt="support client"></td>
								<td class="col-lg-6"><h6>Azuracom renforce son support client</h6> <p> Dans le cadre de notre démarche qualité et dans l’objectif de vous proposer un service plus rapide et efficace, nous avons le plaisir de vous annoncer la mise en place d’un service de maintenance ... </p>
							</tr>
							<tr>
								<td class="col-lg-6"><img class="img-fluid" src="{{ asset("build/images/azuracom-recrute-une-integrateurrice-web.jpeg") }}" alt="support client"></td>
								<td class="col-lg-6"><h6>Azuracom recherche un·e intégrateur·rice web</h6> <p>Notre agence digitale est jeune, dynamique et en forte croissance, installée au cœur du technopôle Agroparc à Avignon. <br>Vos missions :<br>
								<ul>
									<li>- Concevoir un site vitrine ou e-commerce ...</li>
								</ul> 
							</tr>
						</tbody>
					</table>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
						<a href="{{ path('app_news') }}" class="btn btn-primary">Toutes les actualités</a>
					</div>
				</div>
			</div>
		</div>
		

	</section>
	<script src="scripts/home.js"></script>
	<script src="scripts/workingSessions.js"></script>
	{% endblock %}
