{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom
{% endblock %}
{% set title = "Tableau de bord" %}

{% block content %}
	<section class="row">
		<div class="col-lg-8">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mes projets</h5>
					<table class="table table-hover">
						{% for project in projects %}
							<tr>
								<td><img class="col" src="{{ asset("build/images/mini-logoipsum.jpg") }}" alt="logo client"></td>
								<td>{{project.name}}</td>
								<td>Statut du projet</td>
							</tr>
						{% endfor %}
					</table>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="{{ path('app_project')}}" class="btn btn-primary">Consulter mes projets</a>
					</div>
				</div>
			</div>
			

			
			<div class="card mt-3 ">
				<div class="card-body">
					<h5 class="card-title">Carnet de maintenance</h5>
					<div class="progress mb-2">
						<div class="progress-bar bg-warning" role="progressbar" style="width: {{ maintenanceNotebook.nbRemain | percent(maintenanceNotebook.nbOrder) }}%" aria-valuenow="{{ maintenanceNotebook.nbRemain | percent(maintenanceNotebook.nbOrder) }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div>
						<a href="#!" id="btnWS" title="Consulter les sessions">{{ maintenanceNotebook.nbRemain }}
								heures restantes /{{ maintenanceNotebook.nbOrder }}h</a>
					</div>
						<p>Validité :
							{{ maintenanceNotebook.dateEnd | date("d/m/Y") }}</p>

					<div class="ws-block">
						<h6>Sessions de travail</h6>
						<table class="table table-hover">
							<tr>
								<th>Date</th>
								<th>Projet</th>
								<th>Référent technique</th>
								<th>Type</th>
								<th>Description</th>
								<th>Durée en heures</th>
							</tr>
								{% for workingSession in workingSessions %}
									<tr>
										<td>{{ workingSession.date | date("d/m/Y") }}</td>
										<td>{{ workingSession.project.name }}</td>
										<td>{{ workingSession.user.firstname }}
											{{ workingSession.user.lastname }}</td>
										<td>{{ workingSession.type }}</td>
										<td>{{ workingSession.description }}</td>
										{% if workingSession.timeUnit == "hour" %}
											<td>{{ workingSession.time }}</td>
										{% endif %}
										{% if workingSession.timeUnit == "adr" %}
											<td>{{ workingSession.time | hour }}</td>
										{% endif %}
									</tr>
								{% endfor %}
						</table>

					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="mailto:jmbrunier@azuracom.com" class="btn btn-primary">Recharger mon carnet</a>
					</div>
				</div>
			</div>
		</div>
		<aside class="col-lg-4">
			<div class="card mt-3" id="SEO">
				<div class="card-body" id="SEO">
					<h5 class="card-title">OPERATION SEO</h5>
					<p class="card-text">Ce mois-ci, profitez d'un diagnostic SEO OFFERT.</p>	
					<div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
						<button class="btn btn-primary text-end">Je m'inscris</button>
					</div>
				</div>
			</div>
		</aside>
	</section>

	<section class="row">
		<div class="col-xl-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mon agence</h5>
					<div class="row">
						<div class="map-responsive">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4833.652926280654!2d4.891697805011862!3d43.91575408722959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5ee03cd2a4779%3A0x670ee5c8311295de!2sAzuracom%20Agence%20Web%20Avignon!5e0!3m2!1sfr!2sfr!4v1668503121138!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>	
							<p class="card-text">Technopôle Agroparc<br>
							Le Victoria – C01<br>149, Rue Jean Dausset<br>84140 Avignon</p>
							<p>du Lundi au Vendredi
							<br>de 9h à 12h30 et de 14h à 18h</p>
							<p class="fs-6 contact">Votre contact :<br>
							M.
							{{projects[0].technicalOfficer.firstname}}
							{{projects[0].technicalOfficer.lastname}}
							<br>
							Tel : 04 86 40 84 28
							<br>
							Email :
							{{projects[0].technicalOfficer.email}}</p>
								<div class="social-network">
									<a class="col" href="https://www.linkedin.com/company/azuracom/">
										<i class="fa-brands fa-linkedin-in"></i>
									</a>   
									<a class="col" href="https://fr-fr.facebook.com/agence.azuracom/">
										<i class="fa-brands fa-facebook-f"></i>
									</a>   
									<a class="col" href="https://www.instagram.com/agenceazuracom/?hl=fr">
										<i class="fa-brands fa-instagram"></i>
									</a>  
								</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-xl-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Actualités</h5>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="col-lg-6"><img class="img-fluid" src="{{ asset("build/images/azuracom-renforce-son-support-client.jpeg") }}" alt="support client"></td>
								<td class="col-lg-6"><h6>Azuracom renforce son support client</h6> <p> Dans le cadre de notre démarche qualité et dans l’objectif de vous proposer un service plus rapide et efficace, nous avons le plaisir de vous annoncer la mise en place d’un service de maintenance ... </p>
							</tr>
							<tr>
								<td class="col-lg-6"><img class="img-fluid" src="{{ asset("build/images/azuracom-recrute-une-integrateurrice-web.jpeg") }}" alt="support client"></td>
								<td class="col-lg-6"><h6>Azuracom recherche un·e intégrateur·rice web</h6> <p>Notre agence digitale est jeune, dynamique et en forte croissance, installée au cœur du technopôle Agroparc à Avignon. <br>Vos missions :<br>
								<ul>
									<li>- Concevoir un site vitrine ou e-commerce ...</li>
								</ul> 
							</tr>
						</tbody>
					</table>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
						<a href="{{ path('app_news') }}" class="btn btn-primary">Toutes les actualités</a>
					</div>
				</div>
			</div>
		</div>
		

	</section>
	{% endblock %}
