{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom
{% endblock %}
{% set title = "Tableau de bord" %}
{% set mnRemaningHour = maintenanceNotebook.nbOrder - maintenanceNotebook.nbConsume %}
{% set mnRemainingHourPercent = mnRemaningHour * 100 / maintenanceNotebook.nbOrder %}

{% block content %}

	<div class="row">
		<div class="col-lg-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mes projets</h5>
					<table class="table table-hover">
						{% for project in projects %}
							<tr>
								<td><img class="col" src="{{ asset("build/images/mini-logoipsum.jpg") }}" alt="logo client"></td>
								<td>{{project.name}}</td>
								<td>Statut du projet</td>
							</tr>
						{% endfor %}
					</table>


					<a href="{{ path('app_project')}}" class="btn btn-primary">Consulter mes projets</a>
				</div>
			</div>
		</div>
    <div class="col-lg-6">
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">Mon agence</h5>
					<div class="row">
          <div class="col">
						<img class="img-fluid" src="{{ asset("build/images/maps.jpg") }}" alt="pour nous situer"></div>
						<div class="col">
							<p class="card-text">Technopôle Agroparc<br>
								Le Victoria – C01<br>149, Rue Jean Dausset<br>84140 Avignon</p>
							<p>du Lundi au Vendredi
								<br>de 9h à 12h30 et de 14h à 18h</p>
							<p class="fs-6 contact">Votre contact :<br>
								M.
								{{projects[0].technicalOfficer.firstname}}
								{{projects[0].technicalOfficer.lastname}}
								<br>
								Tel : 04 86 40 84 28
								<br>
								Email :
								{{projects[0].technicalOfficer.email}}</p>
                <div class="container">
                <div class="row justify-content-end">
                <a class="col" href="https://www.linkedin.com/company/azuracom/">
								<i class="fa-brands fa-linkedin-in"></i>
							</a>
							<a  class="col" href="https://fr-fr.facebook.com/agence.azuracom/">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
							<a  class="col" href="https://www.instagram.com/agenceazuracom/?hl=fr">
								<i class="fa-brands fa-instagram"></i></i>
						</a>
            </div>
            </div>
							
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-lg-6">
			<div class="card mt-3 ">
				<div class="card-body">
					<h5 class="card-title">Carnet de maintenance</h5>
					<div class="progress mb-2">
						<div class="progress-bar bg-warning" role="progressbar" style="width: {{ mnRemainingHourPercent }}%" aria-valuenow="{{ mnRemainingHourPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<p>
						<a href="#">{{ mnRemaningHour }}
							heures restantes /{{ maintenanceNotebook.nbOrder }}h</a>
					</p>
					<p>Validité :
						{{ maintenanceNotebook.dateEnd | date("d/m/Y") }}</p>
					<a href="mailto:jmbrunier@azuracom.com" class="btn btn-primary">Recharger mon carnet</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card mt-3" id="SEO">
				<div class="card-body" id="SEO">
					<h5 class="card-title">OPERATION SEO</h5>
					<p class="card-text">Ce mois-ci, profitez d'un diagnostic SEO OFFERT.
					</p>
					<button class="btn btn-primary text-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Je m'inscris</button>
				</div>
			</div>
		</div>

		
	<div class="col-lg-6">
		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title">Actualités</h5>
				<p class="card-text">Lorem ipsum dolor sit amet. Qui voluptatem maiores sed similique eius quo impedit libero non voluptatem molestiae eos laboriosam quae aut voluptatibus eveniet rem illum ipsam. 33 eaque odio aut illo consequatur et rerum veritatis vel temporibus tempora et autem officiis vel dolore aspernatur ut accusantium quis.
				</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
