{% extends 'layout.html.twig' %}

{% block title %}Espace Client Azuracom{% endblock %}
{% set title = "Modifier mon profil" %}

{% block content %}

{% for label, messages in app.flashes(['success', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Mes informations personnelles</h5>
    <div class="form-group">
        {{ form_start(passwordForm) }}
        {{ form_widget(passwordForm) }}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
            <button class="btn btn-primary">Enregistrer mes modifications</button>
        </div>
        {{ form_end(passwordForm) }}
    </div>
  </div>
</div>


{% endblock %}
